/**
 * file: css/css.css
 * purpose: styling
 **/

/* Define variables in the :root */
:root {
  --contrast: #000000;
  --backgr: #f9f9f9;
  --lblue: #93dfe4;
  --dblue: #18767c;
}

/* Use your variables on elements */
 main {
   color: var(--contrast);
   background-color: var(--backgr);
 }

 @media (min-width: 320px),(max-width:500px) {

  body {
    background-color: var(--dblue);
    margin: 0;
  }

  h1 {
    font-family: "Pacifico", cursive;
  }
  
   h2, h3, h4, h5, h6{
    font-family: "Montserrat", sans-serif;
   }

   p {
    font-family: "Roboto Slab", serif;
    max-width: 50ch;
  }

  img {
    width: 100%; /* gør billederne responsive, så de altid vil fylde 100% at viewportens størelse*/
    height: auto; /* ændrer sig ift. billedest bredde, så billedets dimensioner bevares*/
  }

   /* Header menu styling start.*/

 .entire-mobil-menu {
  display: flex; /* gør elementerne flexible ift. kassen*/
  flex-direction: row;  /* Arrangerer elementerne i en række */
  flex-wrap: wrap; /* Tillader elementerne at bryde til næste linje */
  justify-content: space-between; /* Fordeler mellemrum mellem elementerne */
  align-items: stretch; /* Strækker elementerne til samme højde */
  margin: 0; /* Fjerner margin omkring containeren */
  background-color: var(--backgr); /* bestemmer baggrundsfarven*/
}

#logo {
    width: 11rem; /* Sætter bredden på logoet */
    height: auto; /* Bevarer billedets proportioner */
    align-self: center; /* Centrerer logoet vertikalt */
}

 .mobil-menu {
  overflow: hidden; /* Skjuler indhold der går uden for containeren */
  position: relative; /* Giver elementet en relativ position */
  font-family: "Montserrat", sans-serif; /* Sætter skrifttypen */
}

#menu-links {
  font-family: "Montserrat", sans-serif; /* Sætter skrifttypen */
}

.mobil-menu, a {
  float: right; /* Placerer elementet til højre */
  display: block; /* Gør elementet til en blok */
  color: var(--contrast); /* Sætter tekstfarven */
  text-align: center; /* Centrerer teksten */
  padding: 14px 16px; /* Tilføjer indvendig afstand */
  text-decoration: none; /* Fjerner underlinjering på links */
  font-size: 17px; /* Sætter tekststørrelsen */
}

.mobil-menu a:hover {
  color: var(--dblue); /* Ændrer tekstfarven til en variabel farve ved hover */
}

.mobil-menu a.active {
  background-color: var(--dblue); /* Sætter baggrundsfarven til en variabel farve når elementet er aktivt */
  border-radius: 10px; /* Tilføjer afrundede hjørner med en radius på 10px */
  color: var(--backgr); /* Sætter tekstfarven til en variabel farve */
}

.mobil-menu .icon {
  display: none; /* Skjuler ikon-elementet */
  position:relative; /* Sætter positioneringen til relativ */
}

.mobil-menu a {display: none;}  /* Skjuler link-elementerne */
.mobil-menu a.icon {
  float: right; /* Flytter ikon-elementet til højre */
  display: block; /* Gør ikon-elementet blokbaseret */
  border-radius: 5px; /* Tilføjer afrundede hjørner med en radius på 5px */
}

.mobil-menu.responsive {position: relative;} /* Sætter positioneringen til relativ når menuen er responsiv */
.mobil-menu.responsive a.icon {
  position: absolute; /* Sætter ikon-elementet til absolut positionering når menuen er responsiv */
  margin: 1rem; /* Tilføjer margener omkring ikon-elementet */
  right: 0; /* Flytter ikon-elementet til højre */
  top: 0; /* Flytter ikon-elementet til toppen */
}
.mobil-menu.responsive a {
  float: none; /* Fjerner flydning af link-elementerne når menuen er responsiv */
  display: block; /* Gør link-elementerne blokbaserede når menuen er responsiv */
  text-align: left; /* Venstrejusterer teksten i link-elementerne */
}
 /* Header menu styling slut */

/* hero styling start */

  #desktop-hero {
  display: none;
  }

  .produktion-landing-container-mobil {
    display: flex;
    width: 100%;
    height: auto;
    margin-top: -1rem;
    padding-bottom: 2rem;
    background-color: var(--dblue);
  }

  #mobil-hero {
    display: flex;
  }

  .produktion-landing-container {
    display: flex; /* gør elementerne flexible ift. kassen*/
    background-color: var(--dblue); /* bestemmer kassens baggrundsfarve */
    padding-bottom: 0.5rem;
  }

  /* hero styling start */
  
  .produktionen-info-container{
    display: flex; /* gør elementerne flexible ift. kassen*/
    align-items: center; /* centerer elementerne i kassen */
    flex-direction: column; /* sætter elementerne i kassen i en søjle */
    background-color: var(--dblue); /* bestemmer kassens baggrundsfarve */
    color: var(--backgr); /* bestemmer farven på teksten i kassen */
  }

  .produktion-img {
    height: 50vh;
    width: auto;
    margin-left: 5.5rem;
  }

  .tekst { 
    margin: 1rem;
  }

  /* vend tilbage til dette*/
  .mobil-hidden {
    display: none;
  }

/* Footer styling start */
.footer-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Montserrat", sans-serif;
  justify-content: center;
  background-color: var(--lblue);
}

.logo-footer {
  width: 250px;
  height: auto;
}

.some-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.some-ikon {
  height: auto;
  width: 20px;
}

.footer-links {
display: flex;
flex-direction: column;
font-size: 0.5rem;
transition-duration: 0.4s;
cursor: pointer;
}

.footer-links, a:hover {
text-decoration: underline;
color: var(--backgr);
}

#p-footer {
text-align: center;
}
/* Footer styling slut */
} 

 @media (min-width: 501px) {

  #mobil-hero {
    display: none;
  }

  #desktop-hero {
    display: flex;
    }
  
  .row {
    display: flex; /* gør elementerne flexible ift. kassen*/
    flex-direction: row; /* sætter elementerne på række */
    align-items: center; /* centerer elementerne i kassen */
    
  }

  .tekst {
    display: flex; /* gør elementerne flexible ift. kassen*/
    flex-direction: column; /* sætter teksten i kassen i en søjle */
    margin-left: 1rem; /* skaber luft udenfor boksen i venstre side*/
    margin-right: 1rem; /* skaber luft udenfor boksen i højre side*/
  }

  .produktion-img {
    display: flex;
    width: 400px;
    height: auto;
  }

  .air {
    width: auto;
    height: auto;
    margin: 10px;
  }
  
}

@media (min-width: 770px) {

  .mobil-menu a.icon {
    display: none;
  }
  
  .mobil-menu a {
    display: block;
  }
  
  #menu-links {
    display: flex;
    margin-top: 0.5rem;
  }
  
  .entire-mobil-menu {
    justify-content: space-between;
  }
  }