/**
 * file: css/css.css
 * purpose: styling
 **/

/* Define variables in the :root */
:root {
  --contrast: #000000;
  --backgr: #f9f9f9;
  --lblue: #93dfe4;
  --dblue: #18767c;
}

/* Use your variables on elements */
 main {
   color: var(--contrast);
   background-color: var(--backgr);
 }

 @media (min-width: 320px),(max-width:500px) {

  h1 {
    font-family: "Pacifico", cursive;
  }
  
   h2, h3, h4, h5, h6{
    font-family: "Montserrat", sans-serif;
   }

  p {
    font-family: "Roboto Slab", serif;
  }
} 

 @media (min-width: 501px) {
}