/**
 * file: css/css.css
 * purpose: styling
 **/

/* Define variables in the :root */
:root {
  --contrast: #000000;
  --backgr: #f9f9f9;
  --lblue: #93dfe4;
  --dblue: #18767c;
}

/* Use your variables on elements */
 main {
   color: var(--contrast);
   background-color: var(--backgr);
 }

 @media (min-width: 320px),(max-width:500px) {

  body {
    margin: 0;
  }

  h1 {
    font-family: "Pacifico", cursive;
  }
  
   h2, h3, h4, h5, h6{
    font-family: "Montserrat", sans-serif;
   }

  p {
    font-family: "Roboto Slab", serif;
  }

  img {
    width: 100%;
  }

  .event-hero {
    width: 100%;
    height: auto;
  }

  .events-landing-container {
    display: flex;
    flex-direction: column;
    align-items: center;

  }

/* event katalog styling start*/
  .event-titel-date {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-bottom: -2rem;
  }


/* event katalog styling slut*/
} 

 @media (min-width: 501px) {

  .row {
    display: flex; /* gør elementerne flexible ift. kassen*/
    flex-direction: row; /* sætter elementerne på række */
    align-items: center; /* centerer elementerne i kassen */
  }
  .events-landing-container {
    display: flex;
    max-width: 100%;
  }

}